@import url('https://fonts.googleapis.com/css?family=Muli:400,700&display=swap');

body {
    font-family: "Muli", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

header > h1 {
    text-transform: uppercase;
    text-align: center;
    color: #2c2c2c;
    font-size: 5rem;
}

a {
    color: gray;
}

main > h2{
    background-color: pink;
    font-size: 2rem;
    text-align: center;
}

a:hover {
    color: orangered;
}

img {
    border-top: 2.5rem solid pink;
    border-right: 2.5rem solid orangered;
    border-bottom: 2.5rem solid orangered;
    border-left: 2.5rem solid pink;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

p:last-child {
   text-align: center; 
}


